<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liotw.springboot.mybatis.mapper.MdAdministrativeRegionMapper">
  <resultMap id="BaseResultMap" type="com.liotw.springboot.mybatis.domain.MdAdministrativeRegion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="area_code" jdbcType="BIGINT" property="areaCode" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="change_reason" jdbcType="VARCHAR" property="changeReason" />
    <result column="city_code" jdbcType="BIGINT" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="county_code" jdbcType="BIGINT" property="countyCode" />
    <result column="county_name" jdbcType="VARCHAR" property="countyName" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="native_code" jdbcType="VARCHAR" property="nativeCode" />
    <result column="native_name" jdbcType="VARCHAR" property="nativeName" />
    <result column="other_code" jdbcType="VARCHAR" property="otherCode" />
    <result column="parent_code" jdbcType="BIGINT" property="parentCode" />
    <result column="province_code" jdbcType="BIGINT" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="row_version" jdbcType="VARCHAR" property="rowVersion" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="town_code" jdbcType="BIGINT" property="townCode" />
    <result column="town_name" jdbcType="VARCHAR" property="townName" />
    <result column="village_code" jdbcType="BIGINT" property="villageCode" />
    <result column="village_name" jdbcType="VARCHAR" property="villageName" />
  </resultMap>
</mapper>
